:root{
    --color1: #f7f7f7;
    --color2: #4f4f4f;
    --color3: #272727;
    --color3-5: #1c1c1c;
    --color4: #662483;
    --color5: #9f51e8;
    
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color1);
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    width: 100vw;
}

img.header-logo {
    width: 40px;
}

h3{
    font-size: 2.2rem;
    text-align: center;
    color: var(--color1);
    font-weight: 700;
}



p {
    color: var(--color3-5);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: justify;
}

.pPort {
    color: var(--color5);
    font-size: 1.7rem;
}

.strong-grey{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color2);
}

.strong-black{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color3);
}

.header{
    background-color: var(--color3-5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.header-title{
    color: var(--color1);
    font-size: 3rem;
    font-weight: 700;
}

main{
    margin: 10px;

}

.description {
    margin-bottom: 10px;
    padding: 15px;
    text-align: justify;
    border: var(--color3-5);
    border-radius: 2.5px;
    box-shadow: 5px 5px 5px var(--color5);
    background-color: var(--color5);
}


.article{
    border: 1px solid var(--color3);
    background-color: var(--color2);
    border-radius: 2.5px;
    box-shadow: 5px 5px 5px var(--color5);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    display: iflex;
    justify-content: center;
    align-items: center;
}

.icon-portfolio {
    width: 60px;
    padding: 5px;
    border: 2px solid var(--color5);
    border-radius: 4px;
}

footer{
    background-color: var(--color3-5);
    padding: 10px;
}

h4{
    color: var(--color1);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.social{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5px;
}

.container-link{
    width: 50px;
}

a{
    color: var(--color5);
}

.nota-al-pie{
    color: var(--color1);
    text-align: end;
    font-size: 1.2rem;
}